<div class="main-container">
  <%= render 'shared/sidebar' %>
  <div class="notes-grid"></div>
  <!-- Still need to decide if I want to put a WELCOME CURRENT USER, OR SOMETHING LIKE THAT. It might be to much to have
  that message plus current user's notes next to it-->
</div>
