  <div class="side-menu">
    <div class="user-info-side-menu">
      <%= current_user.first_name.upcase + "'S NOTES" %>
    </div>
    <div class="sidebar-btn">
      <%= link_to "New folder", new_user_folder_path(current_user.id), class: "cta-main-btn", :remote => true  %>
    </div>
    <div class="folders-tabs">
      <ul class="folder-lsit">
          <% current_user.folders.each do |folder| %>
            <li class="folder">
              <%= link_to folder.folder_name, folder_path(folder.id) %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
