// Secondary button, mainly for SIGN IN BTN, and delete folder, delete note, update folder and update note.
.second-btn {
  width: 112px;
  height:40px;
  background-color: $background-color;
  color: $dark-main-color;
  font-size:16px;
  font-weight: bold;
  border: 1px solid $dark-main-color;
  border-radius: 20px;
  font-family: $main-font;
  text-decoration: none;
  text-align:center;
  vertical-align: middle;
  line-height: 40px;
  &:hover {
    text-decoration: none;
    color: $dark-main-color;
  }
}
// Main button, for CTA and adding folder and note.
.cta-main-btn {
  background-color: $cta-red-color;
  color: $font-color;
  width: 400px;
  height: 114px;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 14px 40px;
  font-family: $main-font;
  font-weight: 550;
  font-size: 16px;
  &:hover {
    text-decoration: none;
    color: $font-color;
  }
}
